@import "tailwindcss";

@theme {

  --color-primary: #0EA5E9;
  --color-primary-dark: #0284C7;

  --color-secondary: #14B8A6;

  --color-text-primary: #0F172A;
  --color-text-secondary: #64748B;

  --color-border: #E2E8F0;

}